.container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */ 
}
.black {
  background-color: black;
}


.carousel-item {
height: 450px;
overflow: hidden;
/* width: 100%; */
}
.carousel-item img {
width: 100%;
}

.socials {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: auto;
  width: 70%;
  padding: 10px;

}


.socialOne{
color: white;
}

.socialOne:hover{
  color: #0275d8;
  
} 