
.black {
  background-color: black;
}



.carousel-item {
height: 300px;
overflow: hidden;
/* width: 100%; */
}
.carousel-item img {
width: 100%;
}


.socials {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: auto;
  width: 75%;
  padding: 10px;

  
}
.socials a {
  color: white;
  transition: 200ms ease-in;
}
.socials a:hover {
  color: #0275d8;
  font-size: x-large;


}
.socials a.active {
  color: #0275d8;

}

.font18 {
  font-size:18px;
} 

@media screen and (min-width: 800px) {
  .carousel-item{
    height: 600px;
  }
  .socials {
    width:50%;
  }
}
