.blog-img{
max-width:100%;
display: block;
margin: auto;

}


.blog-card {
  background-color: rgb(24, 22, 22);
  width: 75%;
  margin: auto;
  box-shadow: 1px 1px 8px grey;
  transition: 150ms all;
}

.blog-card:hover {
  box-shadow: 1px 1px 8px rgb(190, 190, 190);
  transform: translate(4px,4px);
  cursor: pointer;

}

@media screen and (max-width: 1100px) {
  .blog-card h3 {
    font-size: 1rem;
    
  }
}