

#post-detail-header {
  text-align:center;
  margin: auto;
  color: white;
}

#post-detail-header h1 {
  font-size: 2rem;
  padding: 2rem;
  font-family: 'Quicksand', sans-serif;
}


#post-detail-img {
  max-width: 75%;
  margin:auto;
  border: 1px solid white;

}

#post-detail-text {
  color:white;
  width: 75%;
  margin: auto;
  margin-top: 1rem;
}

#post-detail-text a{
  font-style: italic;
  color: lightblue;
}
#post-detail-text a:hover {
  font-style: italic;
  color: tomato;
}

#post-detail-text a:active {
  font-style: italic;
  color: tomato;
}

#blog-detail-back-btn {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 4px;
  margin-bottom: 2rem;
  transition: 150ms all;
}

#blog-detail-back-btn:hover {
  color: orangered;
  border: 1px solid orangered;
}

@media screen  and (max-width: 1100px) {

  #post-detail-header h1 {
    font-size: 2rem;
  }

  .post-detail-text p {
    width: 100%;
    text-align: left;
  }
}