.blog-post-body {
  color: white;
  padding: .5rem;
  margin: auto;
  text-align:center;
  background-color: rgb(24, 22, 22);
}

.blog-post-body h1 {
  font-size: 2rem;
  padding: 2rem;
  font-family: 'Quicksand', sans-serif;

  
}


#blog-detail-back-btn {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 4px;
  margin-bottom: 2rem;
  transition: 150ms all;
}

#blog-detail-back-btn:hover {
  color: orangered;
  border: 1px solid orangered;

}

.blog-post-img {
  width: 100%;
}

@media screen  and (max-width: 1100px) {

  .blog-post-body h1 {
    font-size: 2rem;
  }

  .blog-post-body p {
    width: 100%;
    text-align: left;
  }
}