#post-detail-header {
  text-align: center;
  color: white;
  padding: 1rem;
}

#post-detail-header h1 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.detail-img-container {
  overflow:hidden;
  width: 100%;
  border: .2px solid white;

}

#post-detail-img {
  max-width: 100%;
}

#post-detail-text {
  color: white;
  /* background-color: rgb(23,23,23); */
  height: 100%;
  padding: 1rem;
  width: 100%;

}

#post-detail-text a {
  font-style: italic;
  color: lightblue;
}
#post-detail-text a:hover {
  font-style: italic;
  color: tomato;
}

#post-detail-text a:active {
  font-style: italic;
  color: tomato;
}

#blog-detail-back-btn {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 4px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: 150ms all;
}

#blog-detail-back-btn:hover {
  color: orangered;
  border: 1px solid orangered;
}

@media screen and (max-width: 1100px) {
  #post-detail-header h1 {
    font-size: 1.2rem;
  }

  .detail-img-container {
    width: 90%;
    margin:auto;
  
  }

  .post-detail-text p {
    width: 100%;
    text-align: left;
  }
}
