.logoMain {
  max-width: 30%;
  height: auto;
  margin: auto;
}

.ccCover {
  max-width: 90%;
  height: auto;
  margin:auto;
}

a {
  display: inline;
  color: lightgray;
}

a:hover {
  /* color: #0275d8; */
  color:tomato;
  ;
}